<ion-view title="Cadastro">
    <ion-content>
        <form name="form" ng-submit="salvar(todo)">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="todo.nome" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Descricão</span>
                    <input type="text" ng-model="todo.descricao" required>
                 </label>
                <item class="item item-toggle">
                    Concluida
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="todo.concluida">
                        <div class="track">
                             <div class="handle"></div>
                        </div>
                     </label>
                </item>
                <button class="button button-full button-positive" ng-disabled="form.$invalid">
                    Salvar
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>