<ion-view title="Lista Tarefas">

    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="cadastro" >
                <i class="icon ion-android-add"></i>
        </a>
            
    </ion-nav-buttons>


        <ion-content>
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-bag placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="search.nome">
                  </label>
                </div>
                <ion-list ng-if="search.nome.length > 0">
        
                  <ion-item ng-click="editar(tarefa.$id)" class="item-icon-left item-icon-right" ng-repeat="tarefa in tarefas | filter: search | orderBy: nome ">
                    <i class="icon ion-android-menu"></i>
                    <h2>{{tarefa.nome}}</h2>
                    <p>{{tarefa.descricao}}</p>
                    <i class="icon ion-android-radio-button-off assertive" ng-if="tarefa.concluida == false "></i>
                    <i class="icon ion-android-checkmark-circle balanced" ng-if="tarefa.concluida == true "></i>
                    <ion-option-button class="button-assertive" ng-click="apagar(tarefa.$id)">
                      Apagar
                    </ion-option-button>
                    <!-- <i class="icon {{(
                      tarefa.concluida ?
                      'ion-android-checkmark-circle balanced' :
                      icon ion-android-radio-button-off assertive
                    )}}" ></i> -->
                  </ion-item>
        
                </ion-list>
              </ion-content>
</ion-view>