<ion-view>
    <ion-content>
        <form name="form" ng-submit="registrar(user)">
            <label class="item item-input item-stacked-label">
                <span class="input-label"E-mail></span>
                <input type="email" ng-model="user.email" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label"Password></span>
                <input type="password" ng-model="user.password" required>
            </label>

            <button ng-disabled="form.$invalid" class="button button-positive button-full">
                Registrar
            </button>
        </form>
    </ion-content>
</ion-view>